<%= render "shared/second_header" %>
<div class="post_photo">
 <div class="main-categorys"> 
  <h2 class="main-menu">menu</h2>
  <ul class="main-category">
    <li>category</li>
    <li>runkking</li>
  </ul>
</div>

<div class="show-content">
 <div class="show-photos">
  <div class="show-title">
    <%= @photo.title %>
  </div>
  <div class="show-photo">
    <%= image_tag @photo.image, class:"show-img"%>
  </div>
  <div class="show-nickname">
    <%= @photo.user.nickname %>
  </div>
  <div class="show-btn">
   <% if user_signed_in? && current_user.id %>
    <%= link_to "編集", edit_photo_path, class:"show-edit-btn", id:"show-edit-btn" %>
    <%= link_to "削除", photo_path, method: :delete, class:"show-delete-btn", id:"show-delete-btn" %>
   <% end %>
  </div>
 </div>
</div>

<div class="show-comments">
<div class="submit-comment">
 <% if user_signed_in? %>
  <%= form_with(model:[@photo,  @comment]) do |f| %>
    <%= f.text_field :text, class:"submit-field" %>
    <%= f.submit "ボケる" , class:"submit-btn" %>
  <% end %>
 <% else %>
   <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
 <% end %>
 </div>
 <h1 class="list-comment">みんなのボケ一覧</h1>
 <div class="comments", id='comments'>
    <% @comments.reverse_each do |comment| %>
      <div class="comment-area", id="comment-area">
        <p class="comment"><%= comment.text %></p>
        <p class="comment-user"><%= comment.user.nickname %></p>
      </div>
      <div class="delete-area">
      <% if user_signed_in? && current_user.id %>
        <%= link_to "削除", photo_comment_path(comment.photo_id, comment.id), method: :delete, class:"comment-delete-btn", id:"comment-delete-btn" %>
      <% end %>
      </div>
    <% end %>
 </div>
</div>

<%= render "shared/footer" %>
 
